<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AdamsLair.TreeViewAdv" version="1.7.2.0" targetFramework="net40" />
  <package id="DotNetZip" version="1.9.3" targetFramework="net40" />
  <package id="Newtonsoft.Json" version="6.0.8" targetFramework="net40" />
  <package id="NLog" version="3.2.0.0" targetFramework="net40" />
  <package id="SourceGrid" version="4.4.0" targetFramework="net40" />
</packages>